In [1]:
import pandas as pd

In [2]:
Define = pd.read_csv('/home/nikita/Документы/Phyton_LETI/Phyton_Data/adult.data', header=None, names=['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income'])
Define.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
# 1 Задание - найти количество столбцов
print(f"Количество столбцов - {len(Define.columns)}")

Количество столбцов - 15

In [4]:
# 2 Задание - найти наличие пропусков, и указать, в каких столбцах
Task_Сolumns = []
for column in Define.columns:
    if Define[column].isin([' ?']).any():
        Task_Сolumns.append(column)
if len(Task_Сolumns) == 0:
    print("Все столбцы без пропусков")
else:
    for column in Task_Сolumns:
        print(f"{column}: {Define[Define[column] == ' ?'].shape[0]}")

workclass: 1836
occupation: 1843
native-country: 583

In [5]:
# 3 Задание - найти количество уникальных значений в столбце race

print(f"Количествово уникальных значений в столбце race - {Define['race'].nunique()}")

Количествово уникальных значений в столбце race - 5

In [6]:
# 4 Задание - найти медиану hours-per-week

print(f"Медиана hours-per-week - {Define['hours-per-week'].median()}")

Медиана hours-per-week - 40.0

In [7]:
# 5 Задание - узнать, кого больше  с ЗП > 50K, мужчин или женщин 

High_Salary = Define['income'] == ' >50K'
Men_Salary = Define[High_Salary]['sex'].value_counts()[' Male']
Women_Salary = Define[High_Salary]['sex'].value_counts()[' Female']

if Men_Salary > Women_Salary:
    print("Больше мужчин с ЗП > 50K")
elif Women_Salary > Men_Salary:
    print("Больше женщин с ЗП > 50K")
else:
    print("Мужчин и женщин с ЗП > 50K поровну")

Больше мужчин с ЗП > 50K

In [8]:
# 6 Задание - Заполнить пропущенные данные в отдельных столбцах с наиболее встречаемыми значениями.

columns = ['workclass', 'occupation', 'native-country']
for col in columns:
    most_common = Define[col].mode()[0]
    Define.replace({col: ' ?'}, most_common, inplace=True)

In [9]:
#Проверка на обновление данных
Task_Columns = []
for column in Define.columns:
    if Define[column].isin([' ?']).any():
        Task_Columns.append(column)
if len(Task_Columns) == 0:
    print("Пропусков нигде нет")
else:
    for column in columns_with_question_marks:
        print(f"{column}: {Define[Define[column] == ' ?'].shape[0]}")

Пропусков нигде нет